@font-face {
  font-family: 'rubik-Light';
  font-weight: 300;
  font-style: light;
  src: local('rubik-Light'),
    url('../fonts/rubik-Light.woff') format('woff'),
    url('../fonts/rubik-Light.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'rubik-regular';
  font-weight: 400;
  font-style: normal;
  src: local('rubik-regular'),
    url('../fonts/rubik-regular.woff') format('woff'),
    url('../fonts/rubik-regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'rubik-Medium';
  font-weight: 500;
  font-style: normal;
  src: local('rubik-Medium'),
    url('../fonts/rubik-Medium.woff') format('woff'),
    url('../fonts/rubik-Medium.woff2') format('woff2');
  font-display: swap;
}